<nav class="navbar navbar-inverse no-border-radius">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Homepage</a>
    </div>
    <ul class="nav navbar-nav">
      <!-- <li class="active"><a href="#">Home</a></li> -->
      <li><a routerLink="/users">Users</a></li>
      <li><a routerLink="/">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink='/users/register'><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink='/users/login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>