@import '../../../styles.scss';

.custom-navbar {
  margin-bottom: 0;
}

.navbar {
  background-color: $backgroundColor;
  position: fixed;
  width: 100%;
  z-index: 999;

  .navbar-brand {
    text-align: center;
    padding: 2px 10px;
    .logo-image {
      width: 60px;
      height: 46px;
    }
  }

  li {
    margin: 0 5px;
  }

  .navbar-nav {

    .search-bar-outer-container {
      padding-top: 10px;

      .search-bar-container {
        float: left;
        border-radius: 30px;
        font-size: 20px;

        .search-input {
          float: left;
          width: 600px;
          border-radius: 0px;
          border: 0;
        }

        .search-bar-button {
          float: left;
          width: auto;
          border-radius: 0px;
          height: 34px;
          background-color: #fff;
          border: 0;
        }

        .search-spinner {
          float: left;
          width: auto;
          border-radius: 0px;
          height: 34px;
          background-color: #fff;
          border: 0;

          .spinner-icon {
            margin-top: 6px;
          }
        }
      }
    }
  }

  a {
    color: $textColor !important;

    &:hover {
      color: $backgroundColor !important;
      background-color: $textColor !important;
      border: 0;
    }
  }
}
